$color: black;
$font-color: #fff;
$iconColor: #fff;
$background: #1b1b1b;
$card-backgroundColor: #282828;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$fontOpticalSizing: auto;
$danger: #f43f5e;
$primary: #4f46e5;
$info: #2196f3;
$success: #0d9488;
$warn: #f59e0b;
$purple: #9333ea;
$tableHeaderColor: #282828;
$mini-header: #282828;
$main-toolbar: #282828;
$table-header: #282828;
$form-mat-expansion-panel-header-background: #282828;
$table-hearding-color: #fff;
$header-bg-color: #282828;

html,
body.pure-dark {
    height: 100%;
}

body.pure-dark {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: $font-color !important;
    }

    .main-contianer {
        background-color: $background;
    }

    color: $color;

    .mat-mdc-text-field-wrapper {
        background: transparent !important;
        color: $color
    }

    .card {
        background-color: $card-backgroundColor;
        box-shadow: $box-shadow;

        p {
            color: $font-color;
        }
    }

    .form-content {
        background: $card-backgroundColor;
        padding: 10px;
        border-radius: 4px;
        box-shadow: $box-shadow;
        margin-bottom: 10px;
    }

    form {
        background: $card-backgroundColor;
        padding: 20px;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    text-area {
        background: transparent !important;
        color: $color;
    }

    div.mat-mdc-select-panel {
        background-color: #fff !important;
    }

    .mini-nav-header,
    .mini-nav-footer {

        .right-nav,
        .left-nav {
            button {
                mat-icon {
                    color: $iconColor;
                }

                span {
                    color: $iconColor !important;
                }
            }
        }

    }

    .mat-toolbar {
        background: $main-toolbar;
    }

    .mat-toolbar-mini-header,
    .mat-footer-toolbar {
        background-color: $mini-header;
    }

    .table-main-div .table-header {
        background-color: $tableHeaderColor;
        color: $color;
    }

    .table-filter {
        mat-button-toggle-group {
            mat-button-toggle {
                mat-icon {
                    color: $iconColor;
                }
            }
        }
    }

    .drawer {
        background: #051e1f;
        .group-link {
            background-color: #16394b !important;
        }
    }

    .mat-drawer-content {
        background: $background;

        .container-fluid {
            color: $color;
        }

        .header {
            background: $card-backgroundColor;
            box-shadow: 5px 5px 10px #ebe9e9;
        }

        .table-main-div,
        .table-responsive table,
        mat-paginator {
            background: $card-backgroundColor;
            color: $color;
        }

        .table-main-div {
            box-shadow: $box-shadow;
            border: 1.5px solid #c8cacb;
        }

        .mat-dialog {
            background-color: $card-backgroundColor ;

            .mat-mdc-dialog-title {
                color: $color !important;
            }

            mat-dialog-content {
                color: $color;
            }
        }

        .mat-expansion-panel,
        form .mat-expansion-panel {
            mat-expansion-panel-header {
                color: $color;
                background-color: $background !important;

                mat-panel-title {
                    color: $color !important;
                }
            }

            .mat-expansion-panel-content {
                padding-top: 10px;
            }

            .mat-expansion-panel-body {
                color: $color;
            }
        }

        form .mat-expansion-panel {
            mat-expansion-panel-header {
                background-color: $form-mat-expansion-panel-header-background !important
            }
        }
    }

    .mat-mdc-header-cell,
    .mat-mdc-cell {
        border-bottom-color: #e2e8f0 !important;
        border-bottom-width: 0.1px !important;
    }

    .mat-mdc-header-cell {
        background-color: $table-header;
    }

    table {
        tr td {
            color: #000;
        }

        tr:nth-child(even) {
            background-color: rgb(230, 231, 234) !important;
        }
    }

    .drawer-container {
        background-color: #e7e7e7;
    }

    .qed-header {
        background-color: $mini-header;

        p {

            color: $table-hearding-color !important;
        }
    }

    header {
        background-color: $header-bg-color;
        padding: 7px;
        border-radius: 4px;
        margin-bottom: 1rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        span {
            color: #fff !important;
            margin-bottom: 0px;
            font-size: 20px;
            font-weight: 300;
        }

        mat-icon {
            color: $iconColor !important;
        }
    }
}

mat-bottom-sheet-container {
    background: $card-backgroundColor;
    color: $color;
    width: 700px;
    height: auto;
    overflow: none;

    .header {
        background: $background;
        padding: 10px;
        border-radius: 7px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}

.error-page {
    background-color: #007aff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 2px 2px 5px #37465e;
    width: 70%;
    height: 62%;
    border-radius: 40px;

    h1 {
        color: $iconColor;
    }

    a {
        color: $iconColor;
    }
}


.mdc-form-field>label {
    color: $color;
}

.whiteBg-icon {
    mat-icon {
        color: $iconColor;
    }
}


.text-white {
    color: $color;
}



/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(74, 75, 92, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(74, 75, 92, 0.8);
}

/* ------------------- table style------------ */



table {
    .table-header {
        background-color: $success !important;
    }

    .mat-mdc-icon-button,
    button {
        background-color: #f0f2f3;
        border-radius: 7px !important;
        margin-right: 5px;

        &:hover {
            background-color: #e7e8e9;
        }

        mat-icon {
            font-size: 20px !important;
            height: 20px !important;
        }
    }

    .mat-mdc-icon-button .mat-mdc-button-persistent-ripple::before {
        background-color: transparent !important;
    }
}

table,
td {
    color: $color;
}

table th {
    font-weight: 600;
    color: $table-hearding-color;
}

table td {
    font-weight: 400;
}

mat-snack-bar-container {
    box-shadow: 3px 3px 2px #dde7dd;
}