<app-header></app-header>

     <mat-drawer-container class="example-container">
        <mat-drawer #drawer mode="side" opened>
      <mat-nav-list>
        <a *ngFor="let item of items" mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
            <div class="sidenav-header">
                <mat-icon>{{ item.icon }}</mat-icon>
                <span class="header-font">{{ item.name }}</span>
            </div>          
        </a>        
      </mat-nav-list>
    </mat-drawer>   
 <mat-drawer-content>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
</mat-drawer-container>




<mat-drawer-container>
    <mat-sidenav #callDrawer position="end" class="example-container2" mode="side"  fixedInViewport="true" opened>
        <div fxLayout="row" fxLayoutAlign="center center" class="control mat-elevation-z1">
            <h2>Settings</h2>
          </div>
</mat-sidenav>
</mat-drawer-container> 




