.main-nav-list {
    // max-height: 100vh;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    height: 90vh;
}

.mat-drawer-inner-container {
    overflow: hidden !important;
}

.sidenav-navigation-item {
    overflow-y: auto;
    overflow-x: hidden;
    height: 90vh;
}

.sidenav-main {
    background: transparent !important;
    border-radius: 5px !important;
    box-shadow: none !important;

    mat-expansion-panel-header {
        background: none !important;
    }

    .mat-expansion-panel-content {
        padding-top: 10px;
    }
}


.active-link {
    background-color: rgb(198, 174, 174) !important;
    border-radius: 15px;
}

ul {
    list-style: none;
    height: 100%;
}

.center {
    text-align: center;
}

.divider {
    padding: 0;
    height: 1px;
    background: #7e57c2;
}

.title {
    color: #b39ddb;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 20px;
    padding-bottom: 10px;
}

.item {
    background: transparent;
    transition: background .35s;
}

.item a {
    text-decoration: none;
    color: #eee;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.item.active,
.item:hover {
    background: rgba(0, 0, 0, .1) !important;
}


.group-link {
    margin: 10px;
    border-radius: 6px;
    text-align: center;
}


.single-nav-item {
    margin: 0px 10px;
    width: auto !important;

    &:hover {
        background-color: #2c3344 !important;
        border-radius: 5px !important;
        margin: 0px 10px;

        a .mat-icon,
        a mat-icon {
            color: #fff;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;

        mat-icon,
        .mat-icon {
            height: 30px;
            width: 30px;
            font-size: 25px;
            margin-right: 5px;
            color: #fff;

        }
    }
}

::ng-deep mat-expansion-panel{
    .mat-expansion-panel-header{
        margin: 0px 0px !important;
        .mat-expansion-panel-header-title{
            margin-right: 0px !important;
        }
        .mat-content.mat-content-hide-toggle {
            margin-right: 0px !important;
        }
    }
    .mat-expansion-panel-body{
        padding: 18px 24px !important;
    }
}
mat-expansion-panel-header {
    margin: 0px 10px;
    padding: 0 0px !important;
    .mat-content-hide-toggle {
        margin-right: 0px !important;
    }

    &:hover {
        background-color: #2c3344 !important;
        border-radius: 5px !important;
        margin: 0px 10px;

        mat-icon .mat-icon {
            color: #fff !important;
        }
    }

    mat-icon,
    .mat-icon {
        height: 30px;
        width: 30px;
        font-size: 25px;
        color: #fff !important;
    }

    mat-list-item {
        padding-left: 0px !important;
    }
}

.mat-expansion-panel-header.mat-expanded {
    height: 48px !important;
}
.mat-expansion-panel-header-title{
    display: flex;
    justify-content: center !important;
    margin-right: 0px;
    // margin-top: 1rem;
}

mat-list-item {
    margin: 5px 0px;

    a {
        color: #fff;
        text-decoration: none;

        .active {
            background: #31789d;
            border-radius: 50px;
            line-height: 43px;
            margin-top: 8px;
            height: 45px;
            width: 45px;
        }

        mat-icon,
        .mat-icon {
            height: 50px;
            width: 52px;
            font-size: 22px;
            line-height: 45px;
        }
    }


    &:hover {
        a mat-icon {
            color: #fff;
        }
    }
}
.active-list-item {
    background: #0a5981 !important;
    height: 50px !important;
    width: 50px !important;
    display: block;
    border-radius: 50px;
    line-height: 50px;
    /* Note: You could also use a custom theme */
}

.menu-btns {
    display: flex;
    justify-content: center;
}

.more-side-btn {
    display: none !important;
}

.main-nav-list::-webkit-scrollbar {
    display: none;
  }

@media (max-width: 780px) {
    .more-side-btn {
        display: block !important;
    }
}

  ::ng-deep .main-nav-list{
    mat-expansion-panel{
        .mat-expansion-panel-content{
            .mat-expansion-panel-body {
                padding: 0px 0px !important;
            }
        }
    }
    .mat-mdc-list-item{
        display: flex;
        justify-content: center;
    }
  } 
  .fab-highlight{
    height: 50px !important;
    background-color: #0a5981;
    display: block;
    width: 50px !important;
    border-radius: 50px;
    cursor: pointer;
  }
  .fab-icon-highlight{
    height: 45px;
    width: 55px;
    font-size: 22px;
    line-height: 52px;
  }


  /* styles.css or app.component.css */
.sidenav-container {
    height: 100%;
    display: flex;
  }
  
  mat-sidenav {
    width: 250px;
  }
  
  mat-sidenav-content {
    flex: 1;
    padding: 16px;
  }
  
  .active-link {
    font-weight: bold;
    color: #1976d2;
  }
  